* {
    padding: 0px;
    margin: 0px;
}
nav {
    text-align: center;
    font-size: 30px;
    background-color:rgb(0, 220, 249);
    padding: 10px;
}

body {
    background-color: rgb(10, 175, 197);
}

ul {
    background-color:rgb(0, 220, 249);
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

li {
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

h1 {
   text-align: center;
   font-size: 40px;
   padding: 10px;
}

h2 {
   text-align: center;
   font-size: 35px;
   padding: 10px;
}
p {
    background-color:rgb(0, 220, 249);
    font-size: 30px;
}