* {
    padding: 0;
    margin: 0;
    background-color:blueviolet;
}
.Img {
    scale: 150%;
    margin: auto;
    display: flex;
    margin-top: 50px;
    border-radius: 10px;
}
.Intressen {
    font-family: 'Courier New', Courier, monospace;
    color:rgb(255, 140, 0);
    padding: 20px;
    text-align: center;
}
h1 {
    padding:10px;
    font-family:'Courier New', Courier, monospace;
    scale: 300px;
    text-align: center;
    font-size: 100px;
}

h2 {
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

 p {
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

 h5 {
    padding: 10px;
    display: flex;
    margin: auto;
    margin-top: 50px;
}