* {
    padding: 0;
    margin: 0;
    background-color: rgb(137, 255, 137)
}
.Img {
    scale: 150%;
    margin: auto;
    display: block;
    margin-top: 50px;
}

.Intressen {
     font-family: Georgia, 'Times New Roman', Times, serif,;
    text-align: center;
    font-size: 50px;
    background-color:rgb(179, 255, 135);
}

h1 {
    padding:10px;
    font-family: Georgia, 'Times New Roman', Times, serif,;
    scale: 300px;
    text-align: center;
    font-size: 100px;
    background-color: rgb(179, 255, 135);
}

h2 {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 70px;
    background-color:rgb(137, 255, 137);
}

 p {
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    background-color:rgb(184, 255, 143);
}

h5 {
    margin-top: -60px;
    text-align: left;
    margin-left: 150px;
    font-size: 30px;
}
.img {
   border-radius: 20px;
    width: 500px;
    height: 200px;
    padding: 60px;
    align-items: center;
    display: flex;
   
   
}

:root {
  --light-icon-display: block;
  --dark-icon-display: none;
}

[data-theme="dark"] {
  --light-icon-display: none;
  --dark-icon-display: block;
}

#theme-toggle {
  background: var(--surface);
  border: 1px solid var(--text);
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
}

.light-icon {
  display: var(--light-icon-display);
}

.dark-icon {
  display: var(--dark-icon-display);
}