* {
    padding: 0;
    margin: 0;
}
.Img {
    scale: 150%;
    margin: auto;
    display: block;
    margin-top: 50px;
}

.Intressen {
     font-family: Georgia, 'Times New Roman', Times, serif,;
    text-align: center;
    font-size: 50px;
}

h1 {
    padding:10px;
    font-family: Georgia, 'Times New Roman', Times, serif,;
    scale: 300px;
    text-align: center;
    font-size: 100px;
}

h2 {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 70px;
}

 p {
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    background-color:rgb(184, 255, 143);
}

h5 {
    margin-top: -60px;
    text-align: left;
    margin-left: 150px;
    font-size: 30px;
}
.img {
   border-radius: 5px;
    width: 500px;
    height: 200px;
    padding: 60px;
    align-items: center;
    display: flex;
   
   
}

body {
 background-color:rgb(137, 255, 137);
 color: black;
}

.dark {
  background-color:rgb(74, 134, 74);
  color: black;
}
ul {
  background-color:rgb(184, 255, 143);
}